.FooterEn {
  padding: 3vw 7.5vw;
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  gap: 4vh;
}
.FooterWebMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.3vw;
}

.FooterWebMainS2 {
  display: flex;
  align-items: center;
  gap: 1vw;
  position: relative;
}

.FooterWebS1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.FooterWebS2 {
  border: 1px solid #fff;
  opacity: 0.06;
  background: #fff;
  margin-top: 1.5vw;
}
.FooterWebS3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.FooterWebS1V1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.FooterWebS1V1 h3 {
  color: #fff;
  font-family: LeowB;
  font-size: var(--font-20px);
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
.FooterWebS1V1,
.FooterWebS1V1 a,
.FooterWebS1V1 a:active,
.FooterWebS1V1 a:visited {
  color: var(--gray, #fff);
  font-family: LeowL;
  font-size: var(--font-16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  text-decoration: none;
}
.FooterWebS3V1Img {
  width: var(--PMGR-128px);
}
.FooterWebS3V2 {
  color: var(--gray, #fff);
  font-family: LeowL;
  font-size: var(--font-16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}
.Footer_Soical {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1vw;
}
.Footer_Soical_Img {
  width: 3vw;
}

.ar.FooterWebS1V1 h3 {
  font-family: CairoM;
  font-weight: 900;
}
.ar.FooterWebS1V1 a,
.ar.FooterWebS1V1 a:active,
.ar.FooterWebS1V1 a:visited,
.ar.FooterWebS1V1,
.ar.FooterWebS3V2 {
  font-family: CairoL;
}
@media (max-width: 768px) {
  .FooterEn {
    padding: var(--PMGR-48px) 0;
  }
  .FooterWebS1 {
    flex-direction: column;
    align-items: center;
    gap: var(--PMGR-24px);
  }
  .FooterWebS3V1Img {
    width: 50vw;
  }
  .FooterMobS2 {
    display: flex;
    align-items: flex-start;
    gap: var(--PMGR-48px);
  }
  .FooterMobS2L {
    width: 0.5vw;
    height: 40vw;
    background-color: #db952e;
  }
  .FooterMobS3 {
    display: flex;
    align-items: flex-start;
    gap: var(--PMGR-24px);
  }
  .FooterMobS3L {
    width: 40vw;
    height: 0.5vw;
  }
  .FooterWebS1V1 {
    align-items: center;
    text-align: center;
  }
  .FooterWebS3 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--PMGR-32px);
  }
  .Footer_Soical {
    gap: var(--PMGR-24px);
  }
  .Footer_Soical_Img {
    width: 10vw;
  }
  .FooterWebS1V1 h3 {
    margin: 0;
  }
  .ar.FooterMobS2L {
    margin-top: -2vw;
  }
  .FooterMobS2 {
    padding: var(--PMGR-32px) 0;
  }
  .FooterWebS1V1,
  .FooterWebS3V2,
  .FooterWebS3V2,
  .ar.FooterWebS1V1 a,
  .ar.FooterWebS1V1 a:active,
  .ar.FooterWebS1V1 a:visited,
  .ar.FooterWebS1V1,
  .ar.FooterWebS3V2 {
    font-size: var(--font-20px);
  }
}
